body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1.3rem;
    background-image: linear-gradient(to right,pink,orange);
    background-size: cover;
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
}
/*********--------CSS ON HEADER CONTAINER DIV--------**********/
#header{
    background-color: black;
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
    top: 0px;
    left: 0px;
    z-index: 10;
}
/*************-----------Website Logo------------**************/
#mycareer{
	color: white;
	font-size:1.5rem;
	animation:mycareer 1.5s linear 0s infinite alternate;
}
@keyframes mycareer {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: skyblue;}
  100% {color: #70fb67;}
}
#icon-name{
    padding-left:0.5%;
}
#website-logo{
    color: blue;
}
#icon-boundary{
    padding: 4px;
    background-color: white;
    border:1px solid white;
    border-radius: 50%;
}
.in-block{
    display: inline-block;
}
/***-----------------------Main Menu in Header-----------------*/
#main-menu li a{
    text-decoration: none;
    color: white;
}
#main-menu li a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: #e5e3a2;
    box-shadow: 0px 0px 7px 2px lightgrey;
}
#main-menu li{
    display: inline-block;
    padding-left: 7px;
    text-decoration: none;
}
#bars{
	display: none;
	
}
#bars i{
	color: white;
}
.dropdown-list{
	display:none;
	background-color: black;
	position: fixed;
	top: 6.5vw;
	height: 50%;
    right: 1vw;
    z-index: 10;
    width: 200px;
    perspective: 4000px;
    line-height: 2rem;
}
/******---------------Buttons in header for sigin-------------********/
.signin{
    background-color: white;
    color: blue;
    border:1px solid blue;
}
.signin:hover{
    background-color: white;
    font-weight: bolder;
    text-decoration: underline;
    color: black;
    border:2px solid black;
}
.started{
    background-color: blue;
    color: white;
    border:1px solid white;
    font-size: 1.1rem;
}
.started:hover{
    text-decoration: underline;
}
/**********----------NOTIFICATION BELL----------***********/
.notification i{
    color: white;
}
.notification i:hover{
    color: orange;
}
.notification i:active{
    color:red;
}
/********--------------OVERVIEW OF JAVA COURSE--------------**********/
#img1{
     height:50%;
     width: 50%;
     margin-left: 25%;
     border:2px solid grey;
     box-shadow: 0px 0px 20px grey;
     border-radius:40px;
     margin-top:1%;
 }
 #imgfeature{
     height:30%;
     width:40%;
     border-radius:60px;
     margin-left: 35%;
 }
 fieldset{
    color:#0f0632;
    background-color:white;
    width: 80%;
 }
#overviewjava fieldset{
    position: relative;
    top: 3vw;
    left: 10vw;
}
.heading{
    padding-top: 0.5%;
    border-top: 2px solid #0f0632;
    color:#0f0632;
    background-color:white;
    box-sizing:20px;
    text-align: center;
    height:12%;
    font-weight:bolder;
    font-size:2rem;
    font-family:-apple-system;
}
/************------------Features of JAVA CSS-------------***********/
#featuresjava fieldset{
    position: relative;
    top: 9vw;
    left: 10vw;
}
.hide{
    display: none;
}
.subheading{
     text-decoration: underline;
     font-weight: bolder;
     color:teal;
 }
/**********-----------------STUDY MATERIAL------------***********/
#websites fieldset{
    position: relative;
    top: 15vw;
    left: 10vw;
}
.text-highlight{
    color:navy;
    font-weight:bolder
}
 
 img:hover{
     transform: scale(1.5);
 }
 .links{
     font-size: x-large;
     font-weight: bolder;
     text-decoration: none;
     color:#0f0632;
 }
 .links:hover{
     color:red;
 }
 .links:active{
     color:green;
 }
 .links:visited{
      color:purple;
 }
 .text{
     font-size:1.5rem;
 }
 .para{
     font-size:1.3rem;
 }
 .images{
     height:30%;
     width:40%;
     margin-left:30%;
     box-shadow:0px 0px 30px grey;
 }
 .img2{
     margin:0%
 }
 .img3{
     margin-left:50%;
 }
 /*********---------------FOOTER---------------*************/
#footer{
	position: relative;
	top: 20vw;
	padding: 1%;
	color: white;
	background-color: black;
}
#footer i{
	color: white;
	padding:3%;
	border-radius: 50%;
	vertical-align: top;
}
#contact-form input,textarea {
    max-width: 90%;
    padding: 4px 10px;
    margin-bottom: 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    line-height: 1.6;
    font-size: 1.05rem;
    width: 90%;
}
#contactform{
	min-width: 236px;
	width: 40%;
}
#contactat{
	margin-top: 40px;
	min-width: 322px;
	width: 40%;
}
.social-icon{
	min-width: 180px;
}
#footer i:hover{
	color: #e5e3a2;
	box-shadow: 0px 0px 5px 5px lightgrey;
}
/***------------RESPONSIVENESS-----------***/
@media only screen and (max-width: 768px){
	#footer {
        flex-wrap: wrap;
    }
    #contactat{
    	margin-top: 50px;
    	margin-left: 20px;
    }
    #contactform{
    	margin-top: 20px;
    	margin-left:90px;
    }
    .resp-remove{
    	display: none;
    }
    #bars{
    	display: inline-block;
		margin-right:5%;
    }
    #header-button{
    	display: none;
    }
}