body{
	margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1.3rem;
    background-color:white;
    background-size: cover;
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
}
/*********--------CSS ON HEADER CONTAINER DIV--------**********/
#header{
    background-color: black;
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
    top: 0px;
    left: 0px;
    z-index: 10;
}
/*************-----------Website Logo------------**************/
#mycareer{
	color: white;
	font-size:1.5rem;
	animation:mycareer 1.5s linear 0s infinite alternate;
}
@keyframes mycareer {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: skyblue;}
  100% {color: #70fb67;}
}
#icon-name{
	padding-left:0.5%;
}
#website-logo{
    color: blue;
}
#icon-boundary{
	padding: 4px;
	background-color: white;
	border:1px solid white;
	border-radius: 50%;
}
.in-block{
	display: inline-block;
}
/***-----------------------Main Menu in Header-----------------*/
#main-menu li a{
	text-decoration: none;
	color: white;
}
#main-menu li a:hover{
	text-decoration: underline;
	font-weight: bold;
	color: #e5e3a2;
	box-shadow: 0px 0px 7px 2px lightgrey;
}
#main-menu li{
	display: inline-block;
	padding-left: 7px;
	text-decoration: none;
}
#bars{
	display: none;
	
}
#bars i{
	color: white;
}
.dropdown-list{
	display:none;
	background-color: black;
	position: fixed;
	top: 6.5vw;
	height: 50%;
    right: 1vw;
    z-index: 10;
    width: 200px;
    perspective: 4000px;
    line-height: 2rem;
}
/******---------------Buttons in header for sigin-------------********/
.signin{
	background-color: white;
	color: blue;
	border:1px solid blue;
}
.signin:hover{
	background-color: white;
	font-weight: bolder;
	text-decoration: underline;
	color: black;
	border:2px solid black;
}
.started{
	background-color: blue;
	color: white;
	border:1px solid white;
	font-size: 1.1rem;
}
.started:hover{
	text-decoration: underline;
}
/**********----------NOTIFICATION BELL----------***********/
.notification i{
	color: white;
}
.notification i:hover{
	color: orange;
}
.notification i:active{
	color:red;
}
/*******---------------Calendar Link-----------------*************/
#calendarlink{
	color: #0f0631;
}
/******-----------------GET STARTED FORM-------------************/
#marquee{
	color:white;
	background-color:navy;
	text-align:center;
	padding:2px;
}
#getstartedform{
	position: relative;
	/*margin-top:-15%;*/
	/*background-image: linear-gradient(to right,white,aliceblue);*/
	width: 80%;
	left: 10%;
	background-color: aliceblue;
	border:2px solid black;
    box-shadow:5px 5px 10px 18px #efdfdf7a;
}
#getstartedform table{
	margin-left: 3%;
	margin-bottom: 3%;
}
#getstartedform table label{
	font-weight: bolder;
	color: maroon;
	
}
#registerbutton{
	color: white;
	background-color: blue;
	font-size: 1.1rem;
	padding: 1%;
	border:1px solid blue;
}
small{
	font-size: 0.9rem;
}
h1{
	color:maroon;
}

/*********---------------FOOTER---------------*************/
#footer{
	position: relative;
	top: 5vw;
	padding: 1%;
	color: white;
	background-color: black;
}
#footer i{
	color: white;
	padding:3%;
	border-radius: 50%;
	vertical-align: top;
}
#contact-form input,textarea {
    max-width: 90%;
    padding: 4px 10px;
    margin-bottom: 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    line-height: 1.6;
    font-size: 1.05rem;
    width: 90%;
}
#contactform{
	min-width: 236px;
	width: 40%;
}
#contactat{
	margin-top: 40px;
	min-width: 322px;
	width: 40%;
}
.social-icon{
	min-width: 180px;
}
#footer i:hover{
	color: #e5e3a2;
	box-shadow: 0px 0px 5px 5px lightgrey;
}
/***------------RESPONSIVENESS-----------***/
@media only screen and (max-width: 768px){
	#footer {
        flex-wrap: wrap;
    }
    #contactat{
    	margin-top: 50px;
    	margin-left: 20px;
    }
    #contactform{
    	margin-top: 20px;
    	margin-left:90px;
    }
    .resp-remove{
    	display: none;
    }
    #bars{
    	display: inline-block;
		margin-right:5%;
    }
    #header-button{
    	display: none;
    }
	iframe{
		width:100%;
	}
	#getstartedform{
		width:99%;
		left:0%;
	}
	
	
}